{include file="template/header.tpl" title="encabezado"}
<div id="content">
    <h2>{$language->translate('product_list')}</h2>
    <table><thead>
        <tr>
            <th>{$language->translate('codigo')}</th>
            <th>{$language->translate('nombre')}</th>
            <th>{$language->translate('precio')}</th>
            <th>{$language->translate('existencia')}</th>
            <th>{$language->translate('operation')}</th>
        </tr>
        </thead>
        <tbody id="tbodyList">
        <tr class="cell">
            <td class="cell"><input prueba="rafa" class="cell" type="txt" name="id13txt51" width="100%" value="dfa" ></td>
            <td class="cell"><input class="cell" type="txt" name="id13txt5f1" width="100%" value="af"></td>
            <td class="cell"><input class="cell" type="txt" name="id13txt5gf1" width="100%" value="afad"></td>
            <td class="cell"><input class="cell" type="txt" name="id13txdgt51" width="100%" value="afad"></td>
            <td class="">Borrar</td>
        </tr>        
        </tbody>        
    </table>
        
        
        
    <h3>{$language->translate('new_product')}</h3>
    <table><thead>
        <tr>
            <th>{$language->translate('codigo')}</th>
            <th>{$language->translate('nombre')}</th>
            <th>{$language->translate('precio')}</th>
            <th>{$language->translate('existencia')}</th>
            <th>{$language->translate('operation')}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="cell">
            <td class="cell"><input id="codigoNew" class="cell" type="text"></td>
            <td class="cell"><input id="nombreNew" class="cell" type="text"></td>
            <td class="cell"><input id="precioNew" class="cell" type="text"></td>
            <td class="cell"><input id="existenciaNew" class="cell" type="text"></td>
            <td id="new"><a>Nuevo</a></td>
        </tr>
        </tbody>
    </table>
        
        
        
    
   
    <div id="pageIndex"> indice de paginas</div>
{*    <p><a href="{$url}{$lang}/product/add">{$language->translate('new_product')}</a></p>*}

 </div>
{include file="template/footer.tpl" title="footer"}